{deps, 
	[
		{cowboy, "2.0.0-pre.8", {git, "https://github.com/extend/cowboy.git", {tag, "2.0.0-pre.8"}}},
		{emagick, "0.3.2",{git, "https://github.com/kivra/emagick.git", {tag, "v0.3.2"}}},
		{uuid, "1.7.0",{git, "https://github.com/okeuday/uuid.git", {tag, "v1.7.0"}}},
		{jiffy,"0.14.11",{git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}}

	]
}.
{sub_dirs, ["rel"]}.